body{
	background-image:url(background.jpeg); background-size: 1200px 1000px;
	  background-repeat: no-repeat;
	  background-position: center center;
}

body{
	padding-top: 90px;
	padding-left: 170px;
	padding-right:  220px;
	}
.text{color: #C0C0C0;;
	font-size: 100px;}

.canteenlist{color: lightyellow;
		font-size: 40px;
		padding-top: 30px;
		padding-bottom: 60px;
		padding-left: 180px;}

a:link{
	text-decoration: none;
}
a:hover{color: powderblue;}